@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    min-width: fit-content;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/*NAVIGATION*/

header {
    background-color: #fff;
    padding: 25px 50px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    position: fixed;
    top: 0;
}

header nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

header nav h3 {
    font-size: 1.2rem;
}

header nav a {
    text-decoration: none;
    color: inherit;
}

header nav li {
    font-weight: 600;
    font-size: 1.05rem;
}


/*WELCOME SECTION*/

.welcome-section {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    padding: 0 40px;
}

/*TITLE-IMAGE*/
.title-image {
    display: flex;
    column-gap: 5rem;
}

/*WELCOME TEXT AND SOCIAL ICONS*/
.welcome-title {
    flex: 1;
}

.welcome-title h3 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin: 20px 0;
    color: #2d2e32;
}

.welcome-title p {
    font-size: 1.15rem;
    color: #555;
}

.social-icons-welcome {
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.social-icons-welcome img {
    width: 30px;
}

/*WELCOME IMAGE*/
.welcome-image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}

.welcome-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*TECH STACK*/
.tech-stack {
    margin: 100px 0 0;
    display: flex;
    align-items: center;
}

.tech-stack h3 {
    border-right: 2px solid #2d2e32;
    padding-right: 20px;
    margin-right: 70px;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: initial;
    color: #2d2e32;
}

.tech-stack img {
    width: 50px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 10px;
}


/*ABOUT SECTION*/

.about-section {
    background-color: #fff;
    padding: 100px 0;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    text-align: center;
    align-items: center;
}

/*ABOUT IMAGE*/
.image-flex-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image {
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
    border-radius: 5px;
}


.about-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/*ABOUT TITLE*/
.about-title {
    flex: 1;
}

.about-title h2 {
    color: #147efb;
    font-size: 2.25rem;
    margin: 0 0 15px;
}

.underline {
    width: 100px;
    height: 4px;
    background-color: #147efb;
    margin: 0 auto;
}

.about-text {
    margin: 25px 0 0;
}

.about-text p {
    margin: 10px 0;
    line-height: 1.8rem
}

/*ABOUT BUTTON*/
.about-title a {
    text-decoration: none;
}

.about-title a p {
    margin: 25px 0 0;
    background-color: #147efb;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}


/*PROJECTS SECTION*/

.projects {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.project-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , 0.1);
    align-items: center;
    justify-items: center;
    margin: 50px 0 0;
    column-gap: 20px;
}

/*PROJECT IMAGE*/
.project-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*PROJECT SUMMARY*/
.project-summary {
    max-width: 300px;
    text-align: center;
}

.project-summary h3 {
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #2d2e32;
}

/*PROJECT TECHNOLOGIES*/
.project-summary > p:first-of-type {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
}


.project-technologies p {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 5px 10px;   
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.project-technologies p:nth-of-type(1) {
    margin-right: 5px;
}

.project-technologies  p:nth-of-type(2) {
    margin-left: 5px;
}

/*PROJECT LINKS*/
.project-links img {
    width: 20px;
    margin-left: 10px
}

.project-links {
    display: flex;
    margin: 30px 0 0;
}

.project-links p {
    font-size: 1.1rem;
}

.project-links a{
    color: #2d2e32;
    text-decoration: none;
    flex: 1;
}

.project-code, .project-link {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*START OF PROJECT MIRROWED*/

.project-container2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 , 0.1);
    align-items: center;
    justify-items: center;
    column-gap: 20px;
}

/*END OF PROJECT MIRROWED*/


/*SKILLS*/

.skills {
    width: 100%;
    height: 275px;
    background-color: #f9617a;
    display: flex;
    align-items: center;
    position: relative;

}

.skills-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    grid-template-rows: 250px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}

.skills-container::-webkit-scrollbar {
    display: none;
}


/*SKILL CONTAINER*/
.skill-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-align: center;
    transition: transform 0.15s;
}

/*SKILL CONTENT*/
.skill-container img {
    width: 75px;
}

.skill-container:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.skill-container p {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}



/*MEDIA QUERIES*/


/*NAVIGATION AND WELCOME SECTION*/

@media screen and (max-width: 900px) {
/*NAVIGATION*/
    header nav ul {
        display: none;
    }

/*WELCOME SECTION*/
    .welcome {
        padding: 125px 20px 110px 20px;
        margin: 0 auto;
    }

    /*TITLE-IMAGE*/
    .title-image {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        max-width: 500px;
    }

    /*WELCOME IMAGE*/
    .welcome-image {
        grid-row: 1;
    }

    .welcome-image {
        margin: 0 auto;
    }

    /*WELCOME TEXT*/
    .welcome-title {
        text-align: center;
    }

    .social-icons-welcome {
        justify-content: center;
    }

    /*TECH STACK*/
    .tech-stack {
        display: block;
        text-align: center;
        margin: 50px 0 0;
    }
    
    .tech-stack h3 {
        border-right: none;
        border-bottom: 1px solid #2d2e32;
        padding: 0 0 10px 0;
        margin: 0 0 30px 0;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: initial;
        display: inline-block;
    }
    
    .stack-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tech-stack img {
        width: 50px;
        border-radius: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .welcome-title h3 {
        font-size: 3rem;
    }

    .welcome-image {
        width: 300px;
        height: 300px;
    }

    .title-image {
        row-gap: 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    .welcome-title h3 {
        font-size: 2.75rem;
    }

    .welcome-image {
        width: 250px;
        height: 250px;
    }

    .title-image {
        row-gap: 2rem;
    }
}


/*ABOUT SECTION AND PROJECT SECTION*/

@media screen and (max-width: 1050px) {
/*ABOUT SECTION*/
    .about-container {
        display: flex;
        flex-flow: column;
        max-width: 650px;
    }

    .about-title {
        margin-top: 40px; 
    }

/*PROJECTS SECTION*/
    .projects {
        max-width: 600px;
        margin: 0 auto;
        padding: 100px 30px;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }

    /*PROJECT MIRROWED*/
    .project-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }

    .first-row {
        grid-row: 1;
    }
}

/*PROJECT SECTION FOR MOBILE DEVICES*/
@media screen and (max-width: 450px) {
    .project-container, .project-container2 {
        max-height: 700px;
        row-gap: 20px;
    }

    .projects {
        padding: 100px 15px;
    }

    .project-summary h3 {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    .project-technologies p {
        font-size: 1rem;
    }

    .project-links {
        margin: 20px 0 0;
    }

    .project-links p {
        font-size: 1rem;
    }
    
    
    .project-summary > p:first-of-type {
        margin-bottom: 10px;
        font-size: 1rem;
        line-height: 1.8rem;
        color: #555;
    }
}


/*SKILLS*/

@media screen and (max-width: 850px) {
    .skills-container {
        grid-auto-columns: 25%;
    }
}

@media screen and (max-width: 650px) {
    .skills-container {
        grid-auto-columns: 33.33%;
    }
}

@media screen and (max-width: 450px) {
    .skills-container {
        grid-auto-columns: 50%;
    }
}