@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
      scroll-behavior: smooth;
  }
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
}

/* END OF RESET */

body {
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  min-width: fit-content;
  color: var(--base-color-text);
}

:root {
  --base-color-text: #2d2e32;
  --base-color-text-light: #555;
  --base-color-text-dark: #000;
  --base-transition-duration: 0.15s;
  --base-blue: #147efb;
  --base-dark-blue: #2c5af1;
  
  
  --background-contrast: #fff;
  --about-title: #147efb;
  --button-color: #147efb;
  --invalid-button-color: #6b8dfd; 
  --contact-input-border: rgb(206, 212, 218); 
  --button-inside-color: #fff;
  --project-link-color-hover: #0098e0;
  --skills-background-color: #f9617a;
}

/* NAVIGATION BAR */

.navigation-bar {
  background-color: var(--background-contrast);
  padding: 0 50px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  position: fixed;
  top: 0;
  z-index: 2;
  height: 79px;
}

.navigation-bar__nav {
  flex: 1;
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.navigation-bar__links-list {
  display: flex;
  gap: 1.25rem;
}

.navigation-bar__title {
  font-size: 1.2rem;
  color: var(--base-color-text-dark);
  transition: color var(--base-transition-duration);
}

.navigation-bar__links-list h2 {
  font-size: 1.05rem;
  color: var(--base-color-text);
  font-weight: 600;
}

.navigation-bar__link {
  padding: 5px;
  transition: color var(--base-transition-duration);
}

.navigation-bar__menu-btn {
  line-height: 0;
  display: none;
}

.navigation-bar__menu-icon {
  width: 1.85rem;
  color: var(--base-color-text);
  transition: color var(--base-transition-duration);
}

/* END OF NAVIGATION BAR */

/* HERO HEADER */

.hero-header {
  max-width: 1000px;
  margin: 0 auto;
  min-height: max(750px, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  padding: 0 40px;
}

.hero__title-image {
  display: flex;
  column-gap: 5rem;
  margin: 0 0 100px;
}

.hero__title {
  flex: 1;
}

.hero__title h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 20px 0;
  color: var(--base-color-text);
}

.hero__title-hand-img {
  width: 1.2em;
  vertical-align: middle;
  margin-left: 10px;
}

.hero__title-intro-text {
  font-size: 1.15rem;
  color: var(--base-color-text-light);
  margin-bottom: 25px;
}

.hero__title-location-img {
  width: 1.25em;
  vertical-align: text-bottom;
  margin-left: 3px;
}

.hero__social-links-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.hero__social-link-icon {
  width: 2.4rem;
  color: var(--base-color-text);
  transition: color var(--base-transition-duration);
}

.hero__freecodecamp-icon {
  width: 2.7rem;
}

.hero__github-icon {
  width: 2.3rem;
}

.hero__social-link {
  display: block;
  line-height: 0;
}

.hero__avatar-container {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.hero__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__tech-stack {
  display: flex;
  align-items: center;
  gap: 70px;
}

.hero__tech-stack-title {
  border-right: 2px solid var(--base-color-text);
  padding-right: 20px;
  font-weight: 600;
  font-size: 1.1rem;
}

.hero__tech-stack-list {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.hero__tech-stack-list img {
  width: 50px;
  vertical-align: middle;
  transition: transform 0.15s;
  border-radius: 10px;
}

/* END OF HERO HEADER */




/*ABOUT SECTION*/

.about-section {
  background-color: var(--background-contrast);
  padding: 100px 0;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  text-align: center;
  align-items: center;
  gap: 40px;
}

/*ABOUT IMAGE*/

.about__image-container {
  max-width: 400px;
  max-height: 600px;
  overflow: hidden;
  border-radius: 5px;
}

.about__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;

}

.about__info {
  flex: 1;
}

.about__info-title-container {
  display: inline-block;
  position: relative;
  margin: 0 0 40px;
}

.about__info h2 {
  color: var(--base-blue);
  font-size: 2.25rem;
}

.underline {
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--base-blue);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.about__text {
  margin: 10px 0;
  font-size: 1.05rem;
}



.about__download-link {
  margin: 25px 0 0;
  background-color: var(--button-color);
  color: var(--button-inside-color);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: background-color 0.15s;
}












/*PROJECTS SECTION*/

.projects {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

.projects > h2 {
    color: var(--base-color-text-light);
    font-size: 2.75rem;
    margin: 0 0 15px;
    text-align: center;
}

.underline2 {
    width: 100px;
    height: 4px;
    background-color: var(--base-color-text-light);
    margin: 0 auto;
}


.project-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: var(--background-contrast);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-items: center;
    margin: 50px 0 0;
    column-gap: 20px;
}

.project-container a, .project-container2 a {
    text-decoration: none;
    color: inherit;
}

/*PROJECT IMAGE*/
.project-container > a {
    width: 100%;
    height: 100%;
}

.project-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 0;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    object-position: center top;
   
}

.project-image img:nth-of-type(2) {
    display: none;
}

/*PROJECT TOOLTIP*/
.project-image {
    position: relative;
}

.project-tooltip {
  position: absolute;
  bottom: 10%;
  right: 5%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--background-contrast);
  box-shadow: 5px 5px 0px var(--project-link-color-hover);
  padding: 10px 20px;
  line-height: normal;
  opacity: 0;
  transition: opacity 0.15s;
}

.project-tooltip p {
    font-size: 1.25rem;
    color: var(--base-color-text-dark);
    font-weight: 700;
}

.project-tooltip img {
    width: 30px;
    height: 30px;
}


/*PROJECT SUMMARY*/
.project-summary {
    max-width: 300px;
    text-align: center;
}

.project-summary h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--base-color-text);
}

/*PROJECT TECHNOLOGIES*/
.project-summary > p:first-of-type {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: var(--base-color-text-light);
}

.project-technologies {
    user-select: none;
}

.project-technologies p {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 5px 10px;   
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--base-color-text-dark);
}

.project-technologies p:nth-of-type(1) {
    margin-right: 5px;
}

.project-technologies  p:nth-of-type(2) {
    margin-left: 5px;
}

/*PROJECT LINKS*/
.project-links img {
    width: 20px;
    margin-left: 10px;
}

.project-links {
    display: flex;
    margin: 30px 0 0;
    align-items: center;
    user-select: none;
}

.project-link-image-container {
    position: relative;
}

.project-link-image-container img:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.10s;
}

.project-links p {
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.10s;
}

.project-links a > div img:first-of-type {
    transition: opacity 0.10s;
}


.project-links > div {
    flex: 1;
    display: flex;
    justify-content: 
    center;
}

.project-links > div a {
    display: flex;
    align-items: center;
    line-height: 0;
}


/*START OF PROJECT MIRROWED*/

.project-container2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    background-color: var(--background-contrast);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-items: center;
    column-gap: 20px;
}

/*END OF PROJECT MIRROWED*/


/*SKILLS*/

.skills {
    width: 100%;
    height: 275px;
    background-color: var(--skills-background-color);
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.skills-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    grid-template-rows: 250px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}

.skills-container::-webkit-scrollbar {
    display: none;
}

/*SKILL CONTAINER*/
.skill-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-align: center;
    transition: transform 0.15s;
}

/*SKILL CONTENT*/
.skill-container img {
    width: 75px;
}

.skill-container p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}



/*CONTACT SECTION*/

.contact {
    max-width: 1000px;
    margin: 0 auto;
}


/*CONTACT CONTAINER*/
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 0;
}

/*CONTACT FORM*/
.contact-container form {
    padding: 30px;
    background-color: var(--background-contrast);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-container form h3 {
    font-size: 2.25rem;
    margin: 0 0 30px;
    color: var(--base-color-text);
}

.contact-container form input, .contact-container form textarea {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.name-email input {
    padding: 12px 18px;
    font-size: 1rem;
    margin: 0 0 20px;
    width: 0;
    flex: 1;
    border: 1px solid var(--contact-input-border);
}

.name-email {
    display: flex;
    gap: 20px;
}

.contact-container form textarea {
    width: 100%;
    padding: 12px 18px;
    font-size: 1rem;
    margin: 0 0 20px;
    border: 1px solid var(--contact-input-border);
}

.contact-container form > input:last-child {
    border: none;
    background-color: var(--invalid-button-color);
    color: var(--button-inside-color);
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.15s;
}

.contact-container form:valid > input:last-of-type {
    background-color: var(--button-color);
}

/*CONTACT IMAGE*/
.contact-image-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.contact-image-text img {
    width: 75%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 0 30px;
}

.contact-image-text h3 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--base-color-text);
}

.contact-image-text h3 span {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--base-color-text-dark);
}



/*FOOTER*/

footer {
    background-color: var(--base-color-text);
    color: #fff;
    padding: 60px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.1rem;
    align-items: center;
    gap: 30px;
}

.footer-container > p {
    font-weight: 600;
}

.footer-social-icons {
    display: flex;
    gap: 10px;
    user-select: none;
}

.footer-social-icons a {
    line-height: 0;
}

.footer-social-icons img {
    width: 30px;
    transition: transform 0.15s;
}


.footer-social-icons img:hover {
    transform: scale(1.15);
    cursor: pointer;
}



/*MEDIA QUERIES*/



/*MEDIA QUERY FOR HOVER CAPABLE DEVICES*/

@media screen and (hover: hover) {
  /* NAVIGATION BAR */
  .navigation-bar__title:is(:hover, :focus-visible) {
    color: var(--base-color-text-light);
  }

  .navigation-bar__link:is(:hover, :focus-visible),
  .navigation-bar__menu-btn:is(:hover, :focus-visible) .navigation-bar__menu-icon {
    color: var(--base-blue);
  }
  /* END OF NAVIGATION BAR */

  /* HERO HEADER */
  .hero__social-link:is(:hover, :focus-visible) .hero__social-link-icon {
    color: var(--base-blue);
  }
  /* END OF HERO HEADER */

  /* ABOUT SECTION */
  .about__download-link:is(:hover, :focus-visible) {
    background-color: var(--base-dark-blue);
  }
  /* END OF ABOUT SECTION */













/*PROJECT SECTION*/

    /*PROJECT LINKS*/
    .project-links a:hover p {
        color: var(--project-link-color-hover);
    }

    .project-links a:hover > div img:last-of-type {
        opacity: 1;
    }

    .project-links a:hover > div img:first-of-type {
        opacity: 0;
    }

    /*PROJECT TOOLTIP*/

    .project-image:hover .project-tooltip {
        opacity: 1;
    }


/*SKILLS*/

    .skill-container:hover {
        cursor: pointer;
        transform: scale(1.5);
    }

/*CONTACT SECTION*/
    .contact-container form:valid > input:last-child:hover {
        background-color: var(--base-dark-blue);
        cursor: pointer;
    }
}

/* END OF MEDIA QUERY FOR HOVER CAPABLE DEVICES*/








/* ACTIVE */

  .navigation-bar__link:active,
  .navigation-bar__menu-btn:active .navigation-bar__menu-icon {
    transition: none;
    color: var(--base-dark-blue);
  }

  .hero__social-link:active .hero__social-link-icon {
    transition: none;
    color: var(--base-dark-blue);
  }

  .about__download-link:active {
    transition: none;
    background-color: #0c3fe7;
  }

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  /* NAVIGATION BAR */
  .navigation-bar__links-list {
      display: none;
  }

  .navigation-bar__menu-btn {
    display: initial;
  }
  /* END OF NAVIGATION BAR */

  /* HERO HEADER */
  .hero-container {
    padding: 125px 20px 70px 20px;
  }

  .hero__title-image {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    max-width: 500px;
    margin: 0 0 50px;
  }

  .hero__avatar-container {
    grid-row: 1;
    margin: 0 auto;
  }

  .hero__title {
    text-align: center;
  }

  .hero__social-links-list {
    justify-content: center;
  }

  .hero__tech-stack {
    display: block;
    text-align: center;
  }
    
  .hero__tech-stack-title {
    border-right: none;
    border-bottom: 2px solid var(--base-color-text);
    padding: 0 0 10px;
    margin: 0 0 30px;
    display: inline-block;
  }
    
  .hero__tech-stack-list {
    justify-content: center;
  }
  /* END OF HERO HEADER */
}

@media screen and (max-width: 500px) {
  .hero__title h1 {
    font-size: 3rem;
  }

  .hero__avatar-container {
    width: 300px;
    height: 300px;
  }

  .hero__title-image {
    row-gap: 2.5rem;
  }
}


@media screen and (max-width: 400px) {
    .hero__title h1 {
        font-size: 2.75rem;
    }

    .hero__avatar-container {
        width: 250px;
        height: 250px;
    }

    .hero__title-image {
        row-gap: 2rem;
    }
}
















/*ABOUT SECTION / PROJECT SECTION / CONTACT SECTION*/

@media screen and (max-width: 1050px) {
  /* ABOUT SECTION */
  .about-container {
    flex-flow: column;
    max-width: 650px;
  }
  /* END OF ABOUT SECTION */






/*PROJECT SECTION*/
    .projects {
        padding: 100px 40px;
        max-width: 700px;
    }

    .projects-grid {
        margin: 50px 0 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
    
    .project-summary {
        display: none;
    }

    .project-container, .project-container2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0;
    }



/*PROJECT SECTION CHANGE OF IMAGE RESOLUTION FOR SMALLER SCREENS*/
@media screen and (max-width: 620px) {
    .project-image img:nth-of-type(2) {
        display: initial;
    }

    .project-image img:first-child {
        display: none;
    }

    .projects {
        padding: 100px 30px;
    }
}


/*PROJECT SECTION FOR MOBILE DEVICES*/
@media screen and (max-width: 450px) {
    .projects {
        padding: 100px 15px;
    }
}


/*CONTACT SECTION*/
.contact-container {
    grid-template-columns: 1fr;
    max-width: 650px;
    margin: 0 auto;
    row-gap: 50px;
    padding: 100px 30px;
   }

   .contact-image-text {
    grid-row: 1;
   }
}

/*CONTACT SECTION FOR MOBILE DEVICES*/
@media screen and (max-width: 550px) {
    .name-email {
        display: flex;
        flex-flow: column;
        gap: 0;
    }

    .name-email input {
        width: 100%;
    }

    .contact-container form {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .contact-container {
        padding: 100px 15px;
       }

    .contact-container form {
        padding: 20px;
    }   
}

@media screen and (max-width: 350px) {
    .contact-container form {
        padding: 15px;
    }   

    .contact-container form h3 {
        font-size: 2rem;
        margin: 0 0 30px;
    }

    .contact-image-text h3 {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 3rem;
    }

    .contact-container form > input:last-child {
        font-size: 1.1rem;
    }
    
}

/*FOOTER*/

/*FOOTER SECTION FOR MOBILE DEVICES*/ 
@media screen and (max-width: 450px) {
    footer {
        padding: 60px 25px;
    }
}

@media screen and (max-width: 350px) {
    footer {
        padding: 60px 15px;
    }
}


/*SKILLS*/

@media screen and (max-width: 850px) {
    .skills-container {
        grid-auto-columns: 25%;
    }
}

@media screen and (max-width: 650px) {
    .skills-container {
        grid-auto-columns: 33.33%;
    }
}

@media screen and (max-width: 450px) {
    .skills-container {
        grid-auto-columns: 50%;
    }
}